<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Link Bootstrap CSS-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
  <title>Pokemon</title>
</head>

<body>
  <!--Navbar o barra de navegacion-->
  <!--En la siguiente clase Expandimos la barra de forma horizontal
  y con con fixed-top fijaremos la barra en la parte superior y la colocaremos de color negro-->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container-md">
      <!--Etiqueta de enlace-->
      <a class="navbar-brand" href="#">Inicio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Pokedex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Videojuegos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              TV Pokemon
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Series</a></li>
              <li><a class="dropdown-item" href="#">Peliculas</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">TV en Vivo</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <!--Implementacion de Carrusel-->
  <!--Aparte de las imagenes todas las demas caracteristicas del carrusel estan por defecto-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <!--Links de las imagenes del carrusel-->
        <img src="https://fondosmil.com/fondo/12145.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://images7.alphacoders.com/517/thumb-1920-517548.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://fondosmil.com/fondo/14765.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--Tarjetas-->
  <!--Clase contener-->
  <div class="container">
    <div class="row">
      <div class="col-md-4" style="padding: 20px">
        <!--Clase de la tarjeta modificada en el centrado del texto y el background de la tarjeta-->
        <div class="card text-center text-bg-primary mb-3" style="width: 18rem">
          <img
            src="https://assets.pokemon.com/assets//cms2-es-es/img/trading-card-game/_tiles/pokemon-go/05192022/pokemon-go-169-es.jpg"
            class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Salen a la luz más poderosos e icónicos Pokémon de la expansión Pokémon GO</h5>
            <p class="card-text">
              Crece la expectación en torno a la nueva expansión de JCC Pokémon. Veamos un poco más en profundidad estas
              cartas tan esperadas.
            </p>
            <!--Etiqueta de enlace trabajando con un boton-->
            <a href="https://www.pokemon.com/es/noticias-pokemon/salen-a-la-luz-mas-poderosos-e-iconicos-pokemon-de-la-expansion-pokemon-go/"
              class="btn btn-light">Mas Informacion</a>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="padding: 20px">
        <div class="card text-center text-bg-danger mb-3" style="width: 18rem">
          <img
            src="https://assets.pokemon.com/assets/cms2-es-es/img/watch-pokemon-tv/_tiles/season25/announce/season25-169-es.png"
            class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Ve el tráiler de la temporada 25 de la serie Viajes Definitivos Pokémon</h5>
            <p class="card-text">
              Ash, Goh, Chloe y sus Pokémon vuelven con más aventuras en la nueva temporada.
            </p>
            <a href="https://www.pokemon.com/es/noticias-pokemon/ve-el-trailer-de-la-temporada-25-de-la-serie-viajes-definitivos-pokemon/"
              class="btn btn-light">Mas Informacion</a>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="padding: 20px">
        <div class="card text-center text-bg-dark" style="width: 18rem">
          <img
            src="https://assets.pokemon.com/assets/cms2-es-es/img/video-games/_tiles/pokemon-unite/05162022/pokemon-unite-169.jpg"
            class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Espeon ya está disponible en Pokémon UNITE</h5>
            <p class="card-text">
              Tus rivales se quedarán atónitos ante los poderosos ataques de tipo Psíquico de este Pokémon ofensivo de
              largo alcance.
            </p>
            <a href="https://www.pokemon.com/es/noticias-pokemon/espeon-ya-esta-disponible-en-pokemon-unite/"
              class="btn btn-light">Mas Informacion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>